# Python Data Types

Python is a dynamically typed language, which means that you don't need to declare the type of a variable when you create one. Here are some common data types in Python along with real use cases:

- **Integer (`int`)**
    - Use Case: Storing whole numbers.
    - Example: `integer = 400`
    - Explanation: In this example, `integer` is a variable of type `int` with a value of 400. Integers are used when you need to perform arithmetic operations or count items.

- **Float (`float`)**
    - Use Case: Storing decimal numbers.
    - Example: `price = 19.99`
    - Explanation: `price` is a variable of type `float` with a value of 19.99. Floats are used when you need more precision than integers, such as for financial calculations.

- **String (`str`)**
    - Use Case: Storing text.
    - Example: `name = "Alice"`
    - Explanation: `name` is a variable of type `str` with a value of "Alice". Strings are used for text manipulation and storage.

- **Boolean (`bool`)**
    - Use Case: Storing `True` or `False` values.
    - Example: `is_active = True`
    - Explanation: `is_active` is a variable of type `bool` with a value of `True`. Booleans are used for conditional statements and logical operations.

- **List (`list`)**
    - Use Case: Storing a collection of items.
    - Example: `numbers = [1, 2, 3, 4, 5]`
    - Explanation: `numbers` is a variable of type `list` containing integers. Lists are used to store multiple items in a single variable and can be modified.

- **Dictionary (`dict`)**
    - Use Case: Storing key-value pairs.
    - Example: `person = {"name": "Alice", "age": 25}`
    - Explanation: `person` is a variable of type `dict` with keys "name" and "age". Dictionaries are used to store data values in key-value pairs.

- **Tuple (`tuple`)**
    - Use Case: Storing a collection of items that should not be modified.
    - Example: `coordinates = (10.0, 20.0)`
    - Explanation: `coordinates` is a variable of type `tuple` containing two float values. Tuples are used to store multiple items in a single variable and are immutable.

- **Set (`set`)**
    - Use Case: Storing a collection of unique items.
    - Example: `unique_numbers = {1, 2, 3, 4, 5}`
    - Explanation: `unique_numbers` is a variable of type `set` containing unique integers. Sets are used to store multiple items in a single variable without duplicates.

**Integer Data Type**

In [ ]:
integer = 400
print(f"Data : {integer}, Data Type : {type(integer)}")

**Float Data Type**

In [ ]:
folat_data = 10.76
print(f"Data : {folat_data}, Data Type : {type(folat_data)}")

**String Data Type**

In [ ]:
string_Data = "MD SOLIMAN"
print(f"Data : {string_Data}, Data Type : {type(string_Data)}")

**Boolean Data Type**

In [ ]:
boolean_Data = True # or False
your_account_is_active = False
print(f"Data : {your_account_is_active}, Data Type : {type(boolean_Data)}")

**List Data Type**

In [ ]:
list_data = [1,2,34,56,667,8765,3546345,45243]
list_data_2 = ["MD SOLIMAN", "MD RAKIB", "MD RAKIBUL", "MD RAKIBUL ISLAM"]
list_data_3 = [1,2,34,56,667,8765,3546345,45243, "MD SOLIMAN", "MD RAKIB", "MD RAKIBUL", "MD RAKIBUL ISLAM", True, False]
print(f"Data : {list_data}, Data Type : {type(list_data)}")
print(f"Data : {list_data_2}, Data Type : {type(list_data_2)}")
print(f"Data : {list_data_3}, Data Type : {type(list_data_3)}")

**Dictionary Data Type**

In [ ]:
dictionary_Data = {"name":"Md Soliman", "age": 26, "account_active":True}
dictionary_Data_2 = {"name":"Md Soliman", "age": 26, "account_active":True, "address": "Dhaka, Bangladesh"}
dictionary_Data_3 = {"data":{1,2,3,4,5,6,7,8,9,10}, "name":"MD SOLIMAN", "person": dictionary_Data_2}
print(f"Data : {dictionary_Data}, Data Type : {type(dictionary_Data)}")
print(f"Data : {dictionary_Data_2}, Data Type : {type(dictionary_Data_2)}")
print(f"Data : {dictionary_Data_3}, Data Type : {type(dictionary_Data_3)}")

**Tuple Data Type**

In [ ]:
tuple_Data = (12, 34, 56, 78, 89 , 000,"Shakil", "Soliman", True, 4334.55, dictionary_Data, list_data)
print(f"Data : {tuple_Data}, Data Type : {type(tuple_Data)}")

**Set Data Type**

In [41]:
set_Data = {1, 234, 56, 6575,67 ,7, 67, 456,45365 , "Shakil", "Soliman", True, 4334.55, (12, 34, 56, 78, 89 , 000,)}
print(f"Data : {set_Data}, Data Type : {type(set_Data)}")

Data : {1, 67, 'Soliman', 7, 456, (12, 34, 56, 78, 89, 0), 234, 4334.55, 6575, 45365, 56, 'Shakil'}, Data Type : <class 'set'>